# ignore user machine specific file
**/omnisharp.json

**/a.out

water-cannon-1/src/.$WaterCannonSm.drawio.bkp

water-cannon-1/src/.$WaterCannonSm.drawio.dtmp

*.o

water-cannon-1/gtest-tests/test_program1
